.gallery-photo {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.gallery-photo-feature {
  height: 28rem;
}

.gallery-photo-small {
  height: 13.5rem;
}

/*
 * Posicionamento da imagem dentro do container.
 *
 * 0%   = topo
 * 20%  = mais próximo do topo
 * 50%  = centro
 * 80%  = mais próximo da parte inferior
 * 100% = parte inferior
 */

.gallery-photo-top {
  img {
    object-position: center 20%;
  }
}

.gallery-photo-center {
  img {
    object-position: center 30%;
  }
}

/* Tablet */

@media (max-width: 991.98px) {
  .gallery-photo-feature {
    height: 24rem;
  }

  .gallery-photo-small {
    height: 13rem;
  }
}

/* Mobile */

@media (max-width: 575.98px) {
  .gallery-photo-feature {
    height: 20rem;
  }

  .gallery-photo-small {
    height: 12rem;
  }
}
